.main-wrap {
  width: 100%;
}

.button{
  background: rgb(23, 43, 15);
  border: 1px solid rgb(255,255,255);
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  color: #FFF;
}

.button:hover{
  background: #FFF;
  color: rgb(23, 43, 15);
}
