@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.weather-page {
    background: rgb(34, 213, 129);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    background: rgba(78, 145, 200, 0.4);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.left-container {
    flex-basis: 40%;
}

.right-container {
    height: 100%;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-container div {
    flex-basis: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    height: 100%;
    align-self: stretch;
    justify-self: stretch;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image-wrapper {
    padding: 40px;
}

.celsius {
    width: 30%;
}


